@font-face {
    font-family: 'cantarellboldoblique';
    src: url('/assets/cantarell-boldoblique-webfont.eot');
    src: url('/assets/cantarell-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/cantarell-boldoblique-webfont.woff') format('woff'),
         url('/assets/cantarell-boldoblique-webfont.ttf') format('truetype'),
         url('/assets/cantarell-boldoblique-webfont.svg#cantarellboldoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}